/* fonts */
@import url('https://fonts.googleapis.com/css?family=Prosto+One|Audiowide');

/* base styles */
* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

header {
    font-family: 'Audiowide', cursive;
}

body {
    font-family: 'Prosto One', cursive;
    background-color: cadetblue;
}